{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div style="display: inline;">
                {% if not object_list %}
                    검수할 데이터가 없습니다.<br>
                    라벨링 작업을 해주십시오.
                {% else %}
                    {% for object in object_list %}
                        <a class="btn p-0" href="{% url 'photo:labeled_detail' object.id %}">
                            <img src="{{ object.labeled_image.image.url }}" class="card-img-top" alt="..."
                                 style="height: 13.9rem; width: 13.9rem; margin-bottom: .3rem;">
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="button_senter">
    <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
        {% if page_obj.has_previous %}
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
        {% endif %}
    <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
      {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  {% endif %}
  </ul>
</nav>
</div>
</div>
<style>
#button_senter{
        width:150px;
        margin:auto;
    }
 </style>
{% endblock %}