{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="card" style="width: 30rem;">
                <img src="{{ object.labeled_image.image.url }}" class="card-img-top" alt="">
            </div>
            <div class="col-6">
                <div class="card" style="width: 35rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">생성일 : {{ object.created }}</li>
                        <li class="list-group-item">작업자 : {{ object.labeler }}</li>
                        <li class="list-group-item">상위 카테고리 : {{ object.topcategory }}</li>
                        <li class="list-group-item">하위 카테고리 : {{ object.subcategory }}</li>
                        <li class="list-group-item">
                            <p class="mt-3">
                                {#                                검수 완료 버튼으로 바꿀 예정#}
                                <a href="{% url 'photo:labeled_update' object.id %}" class="btn btn-primary"
                                   style="width: 10rem;">수정</a>
                                <a href="{% url 'photo:labeled_delete' object.id %}" class="btn btn-danger"
                                   style="width: 5rem;">삭제</a>
                            </p>
                        </li>
                    </ul>
                    {% if the_next and the_prev %}
                        <a href="{% url 'photo:labeled_detail' the_next %}">다음</a>
                        <a href="{% url 'photo:labeled_detail' the_prev %}">이전</a>
                    {% else %}
                        <a href="{% url 'photo:labeled_detail' object.id %}">다음</a>
                        <a href="{% url 'photo:labeled_detail' object.id %}">이전</a>
                    {% endif %}
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}