{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="container">
        {% if not object_list %}
                    검수 완료 데이터가 없습니다.<br>
                    라벨링 및 검수 작업을 해주세요.
                {% else %}
                    {% for object in object_list %}
                        <a class="btn p-0" href="{% url 'photo:exam_detail' object.id %}">
                            <img src="{{ object.exam_image.labeled_image.image.url }}" class="card-img-top" alt="..."
                                 style="height: 13.9rem; width: 13.9rem; margin-bottom: .3rem;">
                        </a>
                    {% endfor %}
                {% endif %}
    </div>
{% endblock %}