{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">

        </div>
        <div class="row" style="margin: .5rem .7rem">

            <a href="#" style="color: black; margin-right: 1rem">내 작업실</a>
            <span style="margin-right: 1rem">></span>
            <a href="#" style="color: black; margin-right: 1rem">라벨링 데이터</a>

            <a class="btn btn-outline-success btn-sm" type="submit" href="{% url 'taskapp:upload_data' %}" value="">
                <i class="fas fa-plus"></i>
            </a>
        </div>
<h1>
        <div class="row" style="margin: .5rem">
            <div class=scroll style=overflow-y:hidden;overflow-y:hidden> </div>

            <div class="col-2" style="margin-top: .5rem;">
                <div class="card">
                    <img src="{% static 'images/1.png' %}" alt="..." loading="lazy">
                </div>
            </div>
            <div class="col-2" style="margin-top: .5rem;">
                <div class="card">
                    <img src="{% static 'images/2.png' %}" alt="..." loading="lazy">
                </div>
            </div>
            <div class="col-2" style="margin-top: .5rem;">
                <div class="card">
                    <img src="{% static 'images/3.png' %}" alt="..." loading="lazy">
                </div>
            </div>
            <div class="col-2" style="margin-top: .5rem;">
                <div class="card">
                    <img src="{% static 'images/4.png' %}" alt="..." loading="lazy">
                </div>
            </div>
            <div class="col-2" style="margin-top: .5rem;">
                <div class="card">
                    <img src="{% static 'images/5.png' %}" alt="..." loading="lazy">
                </div>
            </div>



        <div class="navigation" style="padding: .1rem 1.0rem;
        margin-top: .5rem;">
            <center>
            <a type="button" class="btn-next" href="{% url 'taskapp:img_btn' %}" value=""

               style="transform: translateY(100%); color: #00a000;">

                    <i class="fas fa-chevron-right"></i>

            </a>
            </center>

    </div>


                    </div>

</h1>
        <hr>
<h2>



    <div class="col-6" style="margin-top: .5rem;">
            <div id="testImg">
                <div id="circle">
         <img src="{% static 'images/5.png' %}" alt="..." loading="lazy">
        <button class="btn1" type="button" onclick="javascript:sensorBtnClick('btn1');">포인트제거</button>
        <button class="btn2" type="button" onclick="javascript:sensorBtnClick('btn2');">업로드 정보</button>
                </div>
            </div>




    </div>
            <style>

input[type="testImg"] {
  width: 36px;
  height: 36px;
}



.testImg{
  postiion : relative;
}
button.btn1 {
  position: absolute;
  font-size: 1rem;
  background: #a0a0a0;
  color: #fff;
  top: 10px;
  left : 330px;
}
button.btn2 {
  position: absolute;
  font-size: 1rem;
  background: #a0a0a0;
  color: #fff;
  top: 10px;
  left : 430px;
}

circle {

  width : 100px;
  height : 100px;
  border-radius: 50%;
  background-color: #388E3C;;

}


</style>


    <style>
img {
  float: left;
}
</style>

<body>
<img src="vans.png" alt="" width="" height="">
</body>


    <div style="margin: 2rem; padding-left: 4rem;">
        <div class="category-type" data-enabled-slide="false">
            <div class="slick-slider slick-initialized">
                <div class="slick-list">
                    <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none;">
                        <div>
                            <a class="tab pointer-tag selected" style="font-size: 1rem; margin: 2rem; display: inline-block;">신발</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>


    </div>
<div>
            <div style="font-size: 1rem; margin: 2rem; display: inline-block; font-weight: bold;">
            <span>인식한 아이템</span>
        </div>
        <div style="font-size: 1rem; margin: 2rem; display: inline-block">
            <span style="background: #cdedb0; width: 200px; height: 50px; margin: 1rem; padding: 10px;">운동화</span>
        </div>


</div>
    <div style="margin: 2rem; font-size: 1rem; display: inline;">
        <span style="font-weight: bold;">AI 속성 태그</span>

            <div style="margin: 2rem; font-size: .8rem; display: block">
                <span style="padding: 2rem;">카테고리</span>
            </div>
                <button class="btn2" type="button" onclick="javascript:sensorBtnClick('btn2');">운동화</button>
    </div>

</h2>

    </div>
{% endblock %}

