{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">

        </div>
        <div class="row" style="margin: .5rem .7rem">

            <a href="#" style="color: black; margin-right: 1rem">내 작업실</a>
            <span style="margin-right: 1rem">></span>
            <a href="#" style="color: black; margin-right: 1rem">라벨링 데이터</a>

            <a class="btn btn-outline-success btn-sm" type="submit" href="{% url 'taskapp:upload_data' %}" value="">
                <i class="fas fa-plus"></i>
            </a>
        </div>
<h1>
        <div class="row" style="margin: .5rem">
            <div class=scroll style=overflow-y:hidden;overflow-y:hidden> </div>

            <div class="col-2" style="margin-top: .5rem;">
                <div class="card">
                    <img src="{% static 'images/1.png' %}" alt="..." loading="lazy">
                </div>
            </div>
            <div class="col-2" style="margin-top: .5rem;">
                <div class="card">
                    <img src="{% static 'images/2.png' %}" alt="..." loading="lazy">
                </div>
            </div>
            <div class="col-2" style="margin-top: .5rem;">
                <div class="card">
                    <img src="{% static 'images/3.png' %}" alt="..." loading="lazy">
                </div>
            </div>
            <div class="col-2" style="margin-top: .5rem;">
                <div class="card">
                    <img src="{% static 'images/4.png' %}" alt="..." loading="lazy">
                </div>
            </div>
            <div class="col-2" style="margin-top: .5rem;">
                <div class="card">
                    <img src="{% static 'images/5.png' %}" alt="..." loading="lazy">
                </div>
            </div>



        <div class="navigation" style="padding: .1rem 1.0rem;
        margin-top: .5rem;">
            <center>
            <a type="button" class="btn-next" href="{% url 'taskapp:img_btn' %}" value=""

               style="transform: translateY(100%); color: #00a000;">

                    <i class="fas fa-chevron-right"></i>

            </a>
            </center>

    </div>


                    </div>

</h1>
        <hr>
<h2>



    <div class="col-6" style="margin-top: .5rem;">
            <div id="testImg">
                <div id="circle">
         <img src="{% static 'images/5.png' %}" alt="..." loading="lazy">
        <button class="btn1" type="button" onclick="javascript:sensorBtnClick('btn1');">포인트제거</button>
        <button class="btn2" type="button" onclick="javascript:sensorBtnClick('btn2');">업로드 정보</button>
                </div>
            </div>




    </div>
            <style>

input[type="testImg"] {
  width: 36px;
  height: 36px;
}



.testImg{
  postiion : relative;
}
button.btn1 {
  position: absolute;
  font-size: 1rem;
  background: #a0a0a0;
  color: #fff;
  top: 10px;
  left : 330px;
}
button.btn2 {
  position: absolute;
  font-size: 1rem;
  background: #a0a0a0;
  color: #fff;
  top: 10px;
  left : 430px;
}

circle {

  width : 100px;
  height : 100px;
  border-radius: 50%;
  background-color: #388E3C;;

}


</style>

    <div style="height: 10rem; margin: 2rem;">
        <span>뭘해야할까</span>
        <span>난 몰라</span>
        <span>지져스크라이스트</span>
    </div>
    <div style="height: 10rem; margin: 2rem;">

    </div>
    <div style="height: 10rem; margin: 2rem;">

    </div>

</h2>

    </div>
{% endblock %}

