{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">

        </div>
        <div class="row" style="margin: .5rem .7rem">

            <a href="{% url 'taskapp:plustask' %}" style="color: black; margin-right: 1rem">내 작업실</a>
            <span style="margin-right: 1rem">></span>
            <a href="{% url 'taskapp:task' %}" style="color: black; margin-right: 1rem">라벨링 데이터</a>
            <span style="margin-right: 1rem">></span>
            <a href="{% url 'taskapp:data_label' %}" style="color: black; margin-right: 1rem">라벨링 작업실</a>

            <a class="btn btn-outline-success btn-sm" type="submit" href="{% url 'taskapp:data_upload' %}">
                <i class="fas fa-plus"></i>
            </a>
        </div>
        <h1>
            <div class="row" style="margin: .5rem">
                <div class=scroll style=overflow-y:hidden;overflow-y:hidden></div>

                <div class="col-2" style="margin-top: .5rem;">
                    <div class="card">
                        <img src="{% static 'images/1.png' %}" alt="...">
                    </div>
                </div>
                <div class="col-2" style="margin-top: .5rem;">
                    <div class="card">
                        <img src="{% static 'images/2.png' %}" alt="..." loading="lazy">
                    </div>
                </div>
                <div class="col-2" style="margin-top: .5rem;">
                    <div class="card">
                        <img src="{% static 'images/3.png' %}" alt="..." loading="lazy">
                    </div>
                </div>
                <div class="col-2" style="margin-top: .5rem;">
                    <div class="card">
                        <img src="{% static 'images/4.png' %}" alt="..." loading="lazy">
                    </div>
                </div>
                <div class="col-2" style="margin-top: .5rem;">
                    <div class="card">
                        <img src="{% static 'images/5.png' %}" alt="..." loading="lazy">
                    </div>
                </div>


                <div class="navigation" style="padding: .1rem 1.0rem;
        margin-top: .5rem;">
                    <center>
                        <a type="button" class="btn-next" href="#"

                           style="transform: translateY(100%); color: #00a000;">

                            <i class="fas fa-chevron-right"></i>

                        </a>
                    </center>

                </div>


            </div>

        </h1>
        <hr>
        <h2>




            <div class="col-6" style="margin-top: .5rem;">
                <div id="testImg">
                    <div id="circle">
                        <img src="{% static 'images/5.png' %}" alt="..." loading="lazy">
                    </div>
                </div>

            </div>

            <style>

                input[type="testImg"] {
                    width: 36px;
                    height: 36px;
                }


                .testImg {
                    postiion: relative;
                }

                button.btn1 {
                    position: absolute;
                    font-size: 1rem;
                    background: #a0a0a0;
                    color: #fff;
                    top: 10%;
                    left: 50%;
                }

                button.btn2 {
                    position: absolute;
                    font-size: 1rem;
                    background: #a0a0a0;
                    color: #fff;
                    top: 10%;
                    left: 70%;
                }

                circle {

                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background-color: #388E3C;;

                }


            </style>


            <style>
                img {
                    float: left;
                }


            </style>


            <div style="margin: 2rem; padding-left: 4rem;">
                <div class="category-type" data-enabled-slide="false">
                    <div class="slick-slider slick-initialized">
                        <div class="slick-list">
                            <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1"
                                 aria-hidden="false" style="outline: none;">
                                <div>
                                    <a class="tab pointer-tag selected"
                                       style="font-size: 1rem; margin: 2rem; display: inline-block;">신발</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>


            </div>
            <div>

                <div style="font-size: 1rem; margin: 2rem; display: inline-block; font-weight: bold;">

                    <span>인식한 아이템</span>
                    <div style="margin: 1rem;" class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="padding-right: 0.3rem;">운동화
                                <input style="margin: 0.5rem;" type="checkbox"
                                       aria-label="Checkbox for following text input">
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div style="margin: 2rem; font-size: 1rem; display: inline;">
                <span style="font-weight: bold;">AI 속성 태그</span>

                <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;────────────────────</div>

                <div style="margin: .6rem; font-size: .8rem; display: block; float: left;">
                    <span style="padding: 2rem;">카테고리</span>
                </div>

                <div class="dropdown" style="display: block; margin-left: 2rem;">
                    <div style="margin: 2rem; display: inline;">
                        <button class="btn btn-link dropdown-toggle" style="color: black;" type="button"
                                id="dropdownMenuButton1"
                                data-toggle="dropdown" aria-expanded="false">
                            운동화
                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">로퍼</a>
                            <a class="dropdown-item" href="#">부츠/워커</a>
                            <a class="dropdown-item" href="#">샌들</a>
                            <a class="dropdown-item" href="#">슬리퍼</a>
                            <a class="dropdown-item" href="#">운동화</a>
                            <a class="dropdown-item" href="#">정장구두</a>
                            <a class="dropdown-item" href="#">펌프스</a>

                        </div>
                    </div>
                </div>
                <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;────────────────────</div>

                <div style="margin: .6rem; font-size: .8rem; display: block; float: left;">
                    <span style="padding: 2rem;">앞코모양</span>
                </div>
                <div class="dropdown" style="display: block; margin-left: 2rem;">
                    <div style="margin: 2rem; display: inline;">
                        <button class="btn btn-link dropdown-toggle" style="color: black;" type="button"
                                id="dropdownMenuButton2"
                                data-toggle="dropdown" aria-expanded="false">
                            라운드토
                        </button>


                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">라운드토</a>
                            <a class="dropdown-item" href="#">스퀘어토</a>
                            <a class="dropdown-item" href="#">아몬드토</a>
                            <a class="dropdown-item" href="#">오픈토</a>
                            <a class="dropdown-item" href="#">포인티토</a>

                        </div>

                    </div>

                </div>


            </div>

        </h2>

    </div>
{% endblock %}

