{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div style="margin-left: 15rem; margin-top: 1rem; margin-bottom: 1rem">
            <div style="margin: 0 1.7rem">
                <h2 style="font-weight: bold;">업로드</h2>
            </div>
        </div>
        <div id="wrap">
            <div class="drag-area">
                <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                <div class="num-of-files">0 / 150</div>
                <header>파일을 여기 끌어다 놓으세요.</header>
                <span>또는</span>
                <button>내 컴퓨터에서 추가</button>
                <input type="file" onchange="valid_images()" hidden multiple>
            </div>
        </div>
    </div>

{% endblock %}
