<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="../../../static/login.css">
</head>

<body>
    <div class="wrap">
        <div class="login">
            <span class="navbar-brand mb-0 h1"
                  style="color: #388E3C; font-size: 2rem; font-weight: 900;">OLIVELY STUDIO</span>
            <div class="login_id" style="color: #388E3C">
                <h4>E-mail</h4>
                <input type="email" name="" id="" placeholder="Email">
            </div>
            <div class="login_pw" style="color: #388E3C">
                <h4>Password</h4>
                <input type="password" name="" id="" placeholder="Password">
            </div>
            <div class="login_etc">
                <div class="checkbox" style="color: #388E3C">
                <input type="checkbox" name="" id=""> Remember ID
                </div>
            </div>
            <div class="submit">
                <input type="submit" value="Log In">
            </div>
                <div class="col-3" style="margin-bottom: 2rem;">
                    </div>
                <div class="forgot_pw">
                <a href="#" style="color: #388E3C">비밀번호를 잊어버렸나요?</a>
                </div>
                <div class="col-3" style="margin-bottom: 0.2rem;">
                    </div>
                            <div class="forgot_pw">
                <a href="#" style="color: #388E3C">계정이 없으신가요? 계정만들기</a>
                </div>
    </div>
            </div>

</body>

</html>