{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="justify-content-start col-7">
                <form action="" method="get">
                    <div class="search-bar input-group mb-3">
                        <input name="q" type="text" class="form-control rounded-pill" placeholder="Search here"
                               aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-link" style="color: black" type="submit" name="click" value="">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin: .5rem .7rem">
            <a style="color: black; font-size: large; margin-right: 0.5rem">내 스튜디오</a>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin: .5rem .7rem">
            <a href="#" style="color: black; margin-right: 0.5rem">앨범 1</a>
            <span style="margin-right: 0.5rem"></span>
            <a href="#" style="color: black; margin-right: 0.5rem">이미지 6</a>
        </div>
        <div class="row">
            <div class="col-3" style="margin-top: .5rem;">
                <div class="card">
                    <a class="btn btn-outline-success btn-lg upload" type="submit" href="{% url 'taskapp:data_upload' %}"
                       value="">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="col-3" style="margin-top: .5rem;">
                <div class="card">
                    <a class="btn p-0" type="submit" href="{% url 'taskapp:task' %}"
                       value="">
                    <img src="{% static 'images/2.png' %}" alt="..." loading="lazy">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-3" style="margin-bottom: 5rem;">
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#" style="color: #388E3C">1</a></li>
                <li class="page-item"><a class="page-link" href="#" style="color: #388E3C">2</a></li>
                <li class="page-item"><a class="page-link" href="#" style="color: #388E3C">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" style="color: #388E3C">Next</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}