{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="justify-content-start col-7">
                <form action="" method="get">
                    <div class="search-bar input-group mb-3">
                        <label class="col-11">
                            <input name="q" type="text" class="form-control rounded-pill" placeholder="Search here">
                        </label>
                        <button class="btn btn-link mb-2" style="color: black" type="submit" name="" value="">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin: .5rem .7rem">
            <a href="#" style="color: black; margin-right: 1rem">Filter</a>
            <span style="margin-right: 1rem">|</span>
            <a href="{% url 'taskapp:plustask' %}" style="color: black; margin-right: 1rem">내 작업실</a>
            <span style="margin-right: 1rem">></span>
            <a href="{% url 'taskapp:task' %}" style="color: black; margin-right: 1rem">라벨링 데이터</a>

            <a class="btn btn-outline-success btn-sm" type="submit" href="{% url 'taskapp:data_upload' %}" value="">
                <i class="fas fa-plus"></i>
            </a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-5">
                    {% for object in object_list %}
                        <div class="card">
                            <img src="{{ object.image.url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="{% url 'photo:detail' object.id %}" class="card-link">작업하기</a>
                                <a href="{% url 'photo:update' object.id %}" class="card-link">수정하기</a>
                                <a href="{% url 'photo:delete' object.id %}" class="card-link">삭제하기</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col"></div>
            </div>
        </div>
        {#        <div class="container">#}
        {#            <div class="row">#}
        {#                <div class="col"></div>#}
        {#                <div class="col-5">#}
        {#                    {% for object in shoes_img %}#}
        {##}
        {#                        <div class="card">#}
        {#                            <img src="{{ object.image.url }}" class="card-img-top" alt="...">#}
        {#                            <div class="card-body">#}
        {#                                <a href="{% url 'taskapp:data_label'%}" class="card-link">라벨링가기</a>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    {% endfor %}#}
        {#                </div>#}
        {#                <div class="col"></div>#}
        {#            </div>#}
        {#        </div>#}
        {#        {{ shoes_img.image }}#}
        {#        <img src="{{ shoes_data.image.url }}" alt="프로필 사진"#}
        {#                         style="height: 12rem; width: 12rem; margin-bottom: 2rem;">#}
        {#        <div class="row">#}
        {#            <div class="col-3" style="margin-top: .5rem;">#}
        {#                <div class="card">#}
        {#                    <a class="btn p-0" href="{% url 'taskapp:data_label' %}"#}
        {#                       value="">#}
        {#                        <img src="{{ task_data.image.url }}" alt="">#}
        {#                    </a>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>
{% endblock %}
