{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="justify-content-start col-7">
                <form action="" method="get">
                    <div class="search-bar input-group mb-3">
                        <input name="q" type="text" class="form-control rounded-pill" placeholder="Search here"
                               aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-link" style="color: black" type="submit" name="click" value="">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin: .5rem .7rem">
            <a href="#" style="color: black; margin-right: 0.5rem">앨범 1</a>
            <span style="margin-right: 0.5rem"></span>
            <a href="#" style="color: black; margin-right: 0.5rem">이미지 6</a>
        </div>
        <div class="row">
            <div class="col-3" style="margin-top: .5rem;">
                <div class="card">
                    <img src="{% static 'images/1.png' %}" alt="..." loading="lazy">
                </div>
            </div>
            <div class="col-3" style="margin-top: .5rem;">
                <div class="card">
                    <img src="{% static 'images/2.png' %}" alt="..." loading="lazy">
                </div>
            </div>
            <div class="col-3" style="margin-top: .5rem;">
                <div class="card">
                    <img src="{% static 'images/3.png' %}" alt="..." loading="lazy">
                </div>
            </div>
            <div class="col-3" style="margin-top: .5rem;">
                <div class="card">
                    <img src="{% static 'images/4.png' %}" alt="..." loading="lazy">
                </div>
            </div>
            <div class="col-3" style="margin-top: .5rem;">
                <div class="card">
                    <img src="{% static 'images/5.png' %}" alt="..." loading="lazy">
                </div>
            </div>
            <div class="col-3" style="margin-top: .5rem;">
                <div class="card">
                    <img src="{% static 'images/6.png' %}" alt="..." loading="lazy">
                </div>
            </div>
        </div>
    </div>
    <div class="shoes_label_footer">
    <div class="shoes_label_footer_button">
    <button>
        <svg xmlns="http://www.w3.org/2000/svg" display="block" width="16" height="16" fill="currentColor"
             class="bi bi-chevron-double-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            <path fill-rule="evenodd"
                  d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
    </button>
    <button>
        <svg xmlns="http://www.w3.org/2000/svg" display="block" width="16" height="16" fill="currentColor" class="bi bi-chevron-left"
             viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
    </button>
    <button>
        <div style="margin: fill 1rem;">
            <span class="shoes_logo">1</span>
        </div>
    </button>
    <button>
        <svg xmlns="http://www.w3.org/2000/svg" display="block" width="16" height="16" fill="currentColor" class="bi bi-chevron-right"
             viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
    </button>
    <button>
    <svg xmlns="http://www.w3.org/2000/svg" display="block" width="16" height="16" fill="currentColor"
         class="bi bi-chevron-double-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
        <path fill-rule="evenodd"
              d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
    </svg>
    </button>
    </div>
    </div>
    </div>
{% endblock %}
