{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="justify-content-start col-7">
                <form action="" method="get">
                    <div class="search-bar input-group mb-3">
                        <input name="q" type="text" class="form-control rounded-pill" placeholder="Search here"
                               aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-link" style="color: black" type="submit" name="click" value="">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin: .5rem .7rem">
            <a href="#" style="color: black; margin-right: 0.5rem">앨범 1</a>
            <span style="margin-right: 0.5rem"></span>
            <a href="#" style="color: black; margin-right: 0.5rem">이미지 6</a>
        </div>
        <div class="row">
            <div class="col-3" style="margin-top: .5rem;">
                <div class="card">
                    <img src="{% static 'images/1.png' %}" alt="..." loading="lazy">
                </div>
            </div>
            <div class="col-3" style="margin-top: .5rem;">
                <div class="card">
                    <img src="{% static 'images/2.png' %}" alt="..." loading="lazy">
                </div>
            </div>
            <div class="col-3" style="margin-top: .5rem;">
                <div class="card">
                    <img src="{% static 'images/3.png' %}" alt="..." loading="lazy">
                </div>
            </div>
            <div class="col-3" style="margin-top: .5rem;">
                <div class="card">
                    <img src="{% static 'images/4.png' %}" alt="..." loading="lazy">
                </div>
            </div>
            <div class="col-3" style="margin-top: .5rem;">
                <div class="card">
                    <img src="{% static 'images/5.png' %}" alt="..." loading="lazy">
                </div>
            </div>
            <div class="col-3" style="margin-top: .5rem;">
                <div class="card">
                    <img src="{% static 'images/6.png' %}" alt="..." loading="lazy">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
