{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="card" style="width: 30rem;">
                <img src="{{ object.image.url }}" class="card-img-top" alt="">
            </div>
            <div class="col-6">
                <div class="card" style="width: 35rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">생성일 : {{ object.created }}</li>
                        <li class="list-group-item">
                            <form action="" method="post">
                                {% csrf_token %}
                                <label for="labeled_image"></label>
                                <input name="labeled_image" id="labeled_image" value="{{ object.id }}" hidden><br>
                                <label for="top">상위 카테고리</label>
                                <select id="top" name="top" style="width:10rem">
                                    {% for topcategory in topcategories %}
                                        <option id="{{ topcategory }}"
                                                value="{{ topcategory }}">{{ topcategory }}</option>
                                    {% endfor %}
                                </select>
                                <br>
                                <p class="mt-2">
                                    <label for="sub">하위 카테고리</label>
                                    <select id="sub" name="sub" style="width:10rem">
                                        {% for subcategory in subcategories %}
                                            <option id="{{ subcategory.topcategory }}"
                                                    value="{{ subcategory }}">{{ subcategory }}</option>
                                        {% endfor %}
                                    </select>
                                </p>
                                <p class="mt-4">
                                    <input type="submit" value="저장" class="btn btn-success" style="width: 10rem;">
                                    <a href="{% url 'photo:delete' object.id %}" class="btn btn-danger"
                                       style="width: 5rem;">삭제</a>
                                </p>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}