{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div style="display: inline;">
                {% for object in object_list %}
                    <a class="btn p-0" href="{% url 'photo:detail' object.id %}">
                        <img src="{{ object.image.url }}" class="card-img-top" alt="..."
                            style="height: 17rem; width: 17rem; margin-bottom: .3rem;">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}