.task_logo {
    font-family: 'Bebas Neue', cursive;
}

.pragmatic_footer {
    text-align: center;
    margin-top: 2rem;
}

.pragmatic_header {
    text-align: center;
    margin: 2rem 0;
}

img {
    max-width: 100%;
    display: block;
}

.btn-search {
    position: absolute;
    top: 0;
    right: 12px;
    display: block;
    height: 40px;
    width: 40px;
    text-indent: -9999px;
}
