.task_logo {
    font-family: 'Bebas Neue', cursive;
}
.shoes_label_footer{
    justify-content: center;
}
.shoes_label_footer_button{
    justify-content: center;
}

img {
    max-width: 100%;
    display: block;
}

.btn-search {
    position: absolute;
    top: 0;
    right: 12px;
    display: block;
    height: 40px;
    width: 40px;
    text-indent: -9999px;

}

