<header class="container sticky-top mt-2" style="background-color: white">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'photo:index' %}"><span class="navbar-brand mb-0 h1"
                                                                                style="color: #388E3C">OLIVELY STUDIO</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto mt-1">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'photo:index' %}">라벨링</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">검수</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">작업 현황</a>
                    </li>
                </ul>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active mt-1" href="#" id="navbarDropdownMenuLink" role="button"
                       style="color: black" data-toggle="dropdown" aria-expanded="false">
                        test@example.com
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">계정 정보</a>
                        <a class="dropdown-item" href="#">내 작업현황</a>
                        <a class="dropdown-item" href="#">로그아웃</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>