<header class="container sticky-top mt-2" style="background-color: white">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'photo:index' %}"><span class="navbar-brand mb-0 h1"
                                                                         style="color: #388E3C">OLIVELY STUDIO</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto mt-1">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'photo:list' %}">라벨링</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'photo:labeled_list' %}">검수</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'photo:exam_list' %}">작업 현황</a>
                    </li>
                    <li class="nav-item active">
                        <a class="btn btn-outline-success" type="submit" href="{% url 'photo:create' %}">
                            <i class="fas fa-plus"></i>
                        </a>
                    </li>
                </ul>
                <div class="font-weight-bold">
                    {% if request.session.labeler %}
                        작업자 : {{ request.session.labeler }}
                    {% else %}
                        이름을 입력한 뒤 작업해주세요.
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>